<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>@ViewBag.Title</title>
</head>
<body style="margin: 0px; zoom: 110%">
    <div style="padding: 20px; background-color: lightgray; height: 15%; margin: 0px; display: flex; justify-content: space-between">
        <h3 style="font-size: 30px; margin: 0px">Stocks</h3>
        <div>
            <input style="resize: none; height: 100%; border-radius: 20px; padding-left: 10px;" type="text" id="urlInput" required />
            <button style="background-color: blue; border-radius: 15px; height: 100%; padding-left: 10px; padding-right: 10px" onclick="navigateToURL()">Find</button>
            <button style="background: lightgray; border: 0px;  height: 100%">@@</button>
            <button style="background-color: blue; border-radius: 15px; height: 100%; padding-left: 10px; padding-right: 10px">Login</button>
        </div>
    </div>
<div style="display: flex; margin: 10px;">
    <a href="/stocks/explore" style="font-size: medium; margin-right: 10px">Explore stocks</a>
    <a href="/" style="font-size: medium; margin-right: 10px">Trade</a>
    <a href="/trade/orders" style="font-size: medium; margin-right: 10px">Orders</a>
</div>
<div>
    @RenderBody()
</div>
<script>
    function navigateToURL() {
        var url = "trade/index/" + document.getElementById("urlInput").value;
        window.location.href = url;
    }
</script>

@await RenderSectionAsync("scripts", required:false);
</body>
</html>
