@model StocksApp.ViewModels.Orders

<label class="header-label">Stocks > Orders</label>
<div class="flex-container" style="align-items: start">
    <div class="order-container" >
        <h4 class="order-header">Buy Orders</h4>
        @foreach (var buyOrder in Model.BuyOrders)
        {
            <partial name="_BuyOrdersPartial" model="buyOrder"></partial>
        }
    </div>
    <div class="order-container">
        <h4 class="order-header">Sell Orders</h4>
        @foreach (var sellOrder in Model.SellOrders)
        {
            <partial name="_SellOrdersPartial" model="sellOrder"></partial>
        }
    </div>
</div>